* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(184deg, #4e0de6, #020011);
}

h1 {
    color: white;
    text-align: center;
    margin: 25px;
}

#image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.answersTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.answersBottom {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#questionBox {
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 25px;
    width: 1000px;
    height: 100px;
    background-color: rgb(27, 27, 197);
    border: solid white;
    border-radius: 50px;
    padding: 25px;
}

#answerA {
    width: 480px;
    height: 75px;
    background-color: rgb(27, 27, 197);
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerB {
    width: 480px;
    height: 75px;
    background-color: rgb(27, 27, 197);
    border: solid white;
    border-radius: 50px;
}

#answerC {
    width: 480px;
    height: 75px;
    background-color: rgb(27, 27, 197);
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerD {
    width: 480px;
    height: 75px;
    background-color: rgb(27, 27, 197);
    border: solid white;
    border-radius: 50px;
} 




