@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Sigmar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(184deg, #4e0de6, #020011);
}

h1 {
    color: white;
    text-align: center;
    margin: 25px;
}

#image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    justify-content: center;
}

.answersTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.answersBottom {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#questionContainer {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 25px;
    border: solid white;
    border-radius: 50px;
    padding: 25px;
}

#answerA {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerA:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

#answerB {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerB:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

#answerC {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerC:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

#answerD {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerD:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

.right {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.winningTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress {
    font-family: "Patua One", serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    color: rgb(247, 182, 63);
}

.winnings {
    font-family: "Patua One", serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px;
    font-size: 20px;
    color: white;
} 

#finalWinnings {
    font-size: 30px;
    color: gold;
}

#scoring {
    font-family: "Patua One", serif;
    font-size: 20px;
    color: gold;
    margin: 10px;
}

