@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Sigmar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(184deg, #4e0de6, #020011);
}

.btn {
    margin-left: 30px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(158deg, rgb(3, 24, 33), rgb(21, 135, 170));
    color: rgb(255, 255, 255);
    border: 2px solid rgb(242, 239, 245);
    cursor: pointer;
}

h1 {
    color: white;
    text-align: center;
    margin: 25px;
}

#image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    justify-content: center;
}

.answersTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.answersBottom {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#showAnswer {
    
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: center;
    padding:25px;
    font-size: 20px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 100%;
    height:200px;
    margin-bottom: 50px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;

}
        
#questionContainer {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 25px;
    border: solid white;
    border-radius: 50px;
    padding: 25px;
}

#answerA {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerA:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

#answerB {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerB:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

#answerC {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerC:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

#answerD {
    background: linear-gradient(198deg, #067ada, #04162b, #265ea8);
    text-align: left;
    font-size: 25px;
    color: rgb(235, 235, 220);
    padding: 18px 20px;
    width: 480px;
    border: solid white;
    border-radius: 50px;
    margin-right: 40px;
}

#answerD:hover {
    background: linear-gradient(198deg, #e5ca80, #e54308, #e0a45f);
    font-size: 25px;
    color: rgb(235, 235, 220);
}

.right {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.winningTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress {
    font-family: "Patua One", serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    color: rgb(247, 182, 63);
}

.winnings {
    font-family: "Patua One", serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px;
    font-size: 20px;
    color: white;
}

#scoring {
    display: flex;
    flex-direction: column;
    font-family: "Patua One", serif;
    text-align: center;
    font-size: 35px;
    color: gold;
    margin-top: 50px;
}

#resultsScreen {
    display: none;
}

#resultsMessage {
    font-family: "Patua One", serif;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-top: 25px;
    font-size: 160px;
    width: 1920px;
    height: 1080px;
    color: rgb(233, 196, 13);
    background: linear-gradient(184deg, #4e0de6, #020011);
}

#reset {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    width: 300px;
    height: 50px;
    top: 50%;
    left: 42%;
    border-radius: 25px;
    background: linear-gradient(158deg, rgb(3, 24, 33), rgb(21, 135, 170));
    color: rgb(255, 255, 255);
    border: 2px solid rgb(242, 239, 245);
    cursor: pointer;
}

#reset:hover {
    background: linear-gradient(158deg, rgb(66, 43, 14), rgb(221, 99, 5));

}